<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Datos</title>
    <link rel='stylesheet' href='/css/estilo.css'>
</head>
<body>
<section class='container'>
    <hgroup>
        <h1>Datos de los registros</h1>
    </hgroup>
    <div class="row">
        <section class='col-xs-12 col-sm-6 col-md-6'>
            <p><%= mess %>
            <ul>
                <% for(var i=0; i < datos.length; i ++ ) {%><li><%= datos[i].date %></li> <%}%>
            </ul>



        </section>
    </div>
</section>
</body>
</html>